@import './variables.scss';

.#{$class-block} {
  .#{$class-block}__block {
    display: inline-block;
    width: $block__size;
    height: $block__size;
    line-height: $block__size;
    cursor: pointer;

    .emoji {
      width: $block__font-size;
      height: $block__font-size;
      line-height: $block__font-size;
      font-size: $block__font-size;
      vertical-align: middle;
    }

    &.#{$class-block}__block--flipped,
    &.#{$class-block}__block--detonated {
      cursor: default;
    }

    &.#{$class-block}__block--pending:hover,
    &.#{$class-block}__block--marked:hover {
      .emoji {
        width: $block--hovered__font-size;
        height: $block--hovered__font-size;
        line-height: $block--hovered__font-size;
        font-size: $block--hovered__font-size;
      }
    }
  }

  .#{$class-block}--completed,
  .#{$class-block}--failed {
    .#{$class-block}__block {
      cursor: default;

      &.#{$class-block}__block--marked:hover {
        .emoji {
          width: $block__font-size;
          height: $block__font-size;
          line-height: $block__font-size;
          font-size: $block__font-size;
        }
      }
    }
  }
}
