@import './variables.scss';

.#{$class-block} {
  .#{$class-block}__header {
    width: calc(100% - 20px);
    height: 40px;
    border: 2px solid $background-color--2nd;
    border-radius: 5px;
    box-sizing: border-box;
    line-height: 40px;
    background-color: $background-color;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
  }
}
