$class-block: 'mine-sweeper';
$block__size: 25px;
$block__font-size: 20px;
$block--hovered__font-size: 18px;
$background-color: #fff;
$background-color--2nd: #f0f0f0;
$font-color: #808080;
$font-color--2nd: #b0b0b0;
